* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.searchButton {
}
.inputContainer {
  margin-top: 10px;
  color: #7839cd;
  font-size: 20px;
}
.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divSugg {
  width: 100%;
  border: 1px solid #7839cd;
  cursor: pointer;
  color: #7839cd;
  font-size: 20px;
}
.divSugg:hover {
  background-color: aquamarine;
}
.fraseInicio {
  font-size: 31px;
  color: #7839cd;
}
.fraseInicio.dark {
  color: rgb(65, 216, 171);
}
