.App {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.App.dark {
  background-color: black;
}
button,
a {
  cursor: pointer;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  margin-top: 10px;
  border: rgb(65, 216, 171) solid 2px;
  justify-content: center;
}
.dark p {
  color: rgb(65, 216, 171);
}
